body {
    background-color: black;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    color: black;
}

input,
textarea { 
    width: 100%;
    padding: 5px; 
    outline:none;
}

label {
    line-height: 0.5px;
}

input[type="submit"] {
    transform: translate(0.2%);
    padding: 2px;
    margin-top: 0.2rem;
    font-family: cursive;
    font-weight: bold;
}

fieldset {
    padding: 0.10px 100px;
    margin: 10px;
    color: yellowgreen;
}
button{
    padding: 12px 40px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px1px rgb(131, 131, 219) ;
    border: px solid green;
    font-size: 2opx;
    margin-top: 10%;
}

button:hover{
    background-color: green;
    color: aqua ;
}
    legend {
display: block;
margin-bottom: 20px;
size: 10%;
text-align: center;
color: crimson;
    }

